/* Global Variables */
:root {
    --primary-color: #1D1D1D;
    --primary-color-rgb: 29, 29, 29;
    ;
    --secondary-color: #7D7D7D;
    --orange-color: #FF852E;
    --orange-color-rgb: 255, 165, 0;
    --divider-color: #E1E4EB;
    --white-color: #FFFFFF;
    --default-font: "Manrope", sans-serif;

}

/* General css */
body {
    font-family: var(--default-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    color: var(--white-color);
    background-color: var(--primary-color);
    background-image: url("../images/body-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}





p {
    line-height: 28px;
    margin-bottom: 1.5em;
    font-family: var(--default-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1.1em;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus {
    text-decoration: none;
    outline: 0;
}

html,
body {
    width: 100%;
    overflow-x: clip;
}

.section-row {
    margin-bottom: 60px;
}


.white-bg-section p {
    color: var(--primary-color);
}

.white-bg-section h1,
.white-bg-section h2,
.white-bg-sectionh3,
.white-bg-section h4,
.white-bg-section h5,
.white-bg-section h6 {
    color: var(--primary-color);
}

/* ==========default btn==== */
.btn-default {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1em;
    color: var(--white-color);
    background: var(--orange-color);
    text-transform: capitalize;
    padding: 15px 55px 15px 25px;
    border: 2px solid var(--orange-color);
    border-radius: 100px;
    transition: 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-default::before {
    content: '\f062';
    position: absolute;
    top: 50%;
    right: -15px;
    bottom: 0;
    font-family: 'FontAwesome';
    font-size: 18px;
    font-weight: 900;
    transition: 0.3s ease-in-out;
    background: var(--white-color);
    color: var(--orange-color);
    transform: translate(-20px, -50%) rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-default:hover:before {
    color: var(--orange-color);
    transform: translate(-20px, -50%) rotate(90deg);
}

.btn-default::after {
    content: '';
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: var(--white-color);
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.btn-default:hover::after {
    width: 100%;
}

.btn-default:hover {
    color: var(--orange-color);
}

/* ======Hero Section End==== */

.hero-section {
    position: relative;
    padding: 50px 0;
}

.hero-section .hero-content .section-title {
    margin-bottom: 30px;
}

.hero-section .hero-body {
    width: 100%;
    max-width: 568px;
    margin-bottom: 40px;
}

.hero-section .hero-body p {
    margin: 0;
}

.hero-section .hero-image {
    position: relative;
}

.hero-section .hero-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: -1;
    filter: blur(350px);
}

.hero-section .section-title h1,
.hero-section .section-title h2 {
    font-size: 64px;
    letter-spacing: -0.05em;
}

@media(max-width:992px) {
    .hero-section .section-title h1 {
        font-size: 46px;
    }

    .hero-section .section-title h1 span img {
        width: 76px;
    }
}

@media(max-width:576px) {
    .hero-section {
        padding: 80px 0 40px;
    }

    .hero-section .section-title h1 {
        font-size: 30px;
    }

    .hero-section .section-title h1 span img {
        width: 56px;
    }
}

/* ======Hero Section End==== */

/* =======Section Title==== */

.section-title {
    text-align: left;
    margin-bottom: 30px;
}

.section-title h3 {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    border: 1px solid var(--divider-color);
    color: var(--white-color);
    margin-bottom: 10px;
    border-radius: 80px;
    padding: 8px 24px 8px 36px;
    position: relative;
}

.section-title h3::before {
    content: "";
    position: absolute;
    left: 16px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: calc(50% - 4px);
    background-color: var(--orange-color);
}

.section-title h1,
.section-title h2 {
    font-size: 48px;

    font-weight: 700;
    margin-bottom: 0;
    color: var(--white-color);
}

.section-title h1 span,
.section-title h2 span {
    color: var(--orange-color);
}

@media (max-width:576px) {

    .section-title h1,
    .section-title h2 {
        font-size: 30px;
    }
}

/* ==========default btn End==== */

/* scrolling-ticker */

.scrolling-ticker {
    padding: 15px 0;
    color: var(--white-color);
    background-color: var(--orange-color);
}

.scrolling-ticker-box {
    --gap: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.scrolling-content {
    flex-shrink: 0;
    display: flex;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 24s linear infinite;
}

.scrolling-content span {
    display: inline-flex;
    align-items: center;
    font-family: var(--default-font);
    font-size: 30px;
    line-height: 1.4em;
    font-weight: 700;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.scrolling-content span i {
    font-size: 30px;
    color: var(--white-color);
    margin-right: 20px;
}

/* scrolling-ticker End */

/* =========breadcrumb Start======= */
.breadcrumb-section {
    padding: 30px 0 0;
}

.breadcrumb-section .breadcrumb {
    display: inline-flex;
    margin-bottom: 0;
    justify-content: center;
    /* border: 2px solid var(--orange-color); */
    border-radius: 100px;
    padding: 6px 20px;
}

.breadcrumb-section .breadcrumb .breadcrumb-item {
    color: var(--white-color);
    font-family: 18px;
    font-weight: 700;
}

.breadcrumb-section .breadcrumb .breadcrumb-item a {
    color: var(--orange-color);
}

/* =========breadcrumb End======= */


/* =========service items=== */

.service-item {
    background-color: var(--white-color);
    border-radius: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: rgb(67 71 85 / 10%) 0px 0px 0.25em, rgb(90 125 188 / 2%) 0px 0.2em .2em;
}

.service-content {
    padding: 20px;
}

.service-content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid var(--divider-color); */
    /* padding-bottom: 25px; */
    margin-bottom: 25px;
}

.service-content-title .icons {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    background-color: var(--orange-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-content-title h2 {
    font-size: 26px;
    width: 100%;
    max-width: 200px;
    text-transform: capitalize;
}

.service-content-title h5 {
    color: var(--divider-color);
    font-size: 55px;
    font-weight: 700;
    margin: 0;
}

.service-content-title a {
    background-color: var(--orange-color);
    color: var(--white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.service-content-title a img {
    transition: all 0.3s ease-in-out;
}

.service-item:hover .service-content-title img {
    transform: rotate(45deg);
}

.service-content h2 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.service-content p {
    margin: 0;
    color: var(--secondary-color);
}

.service-image {
    overflow: hidden;
}

.service-image img {
    transition: all 0.5s ease-out;
}

.service-item:hover .service-image img {
    transform: scale(1.1)
}